workflows/n8n/archive/hvac-chat-agent.archive.json
{
  "name": "hvac chat agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "hvac-chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b681586c-3ece-411e-bd91-b962f0532a60",
      "name": "Chat Message Received1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        720,
        -160
      ],
      "webhookId": "wh-hvac-001"
    },
    {
      "parameters": {
        "jsCode": "\nconst body = $input.item.json.body || $input.item.json || {};\nconst chatInput = (body.chatInput || body.message || body.text || '').trim();\nlet metadata = body.metadata || {};\nif (typeof metadata === 'string') {\n  try { metadata = JSON.parse(metadata); } catch(e) { metadata = {}; }\n}\nconst sessionKey = (\n  metadata.sessionId || metadata.session_id ||\n  body.sessionId || body.session_id ||\n  `chat_${Date.now()}_${Math.random().toString(36).slice(2,7)}`\n);\nconst files = body.files || [];\nreturn {\n  json: {\n    chatInput,\n    sessionKey,\n    metadata,\n    files,\n    hasFiles: files.length > 0,\n    utmSource:   metadata.utm_source   || body.utm_source   || null,\n    utmMedium:   metadata.utm_medium   || body.utm_medium   || null,\n    utmCampaign: metadata.utm_campaign || body.utm_campaign || null,\n    sourceUrl:   metadata.source_url   || body.source_url   || null,\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "f076b49f-077a-435f-86ee-68867f0eadb9",
      "name": "Normalize Input1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        944,
        -160
      ]
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a professional HVAC service assistant. Your goals:\n\n1. ANSWER QUESTIONS using kb_lookup for: services, warranties, financing, maintenance, repair vs replacement, emergency availability, service area.\n\n2. TRIAGE visitors into: Repair, Maintenance, Emergency, Replacement/Estimate, or General Question.\n\n3. COLLECT LEAD INFO progressively — don't ask everything at once:\n   - First: issue type and equipment type\n   - Then: service address or ZIP\n   - Then: name and phone (only after intent is clear)\n   - Optional: email, preferred time window\n\n4. EMERGENCY DETECTION — act immediately on:\n   - Gas smell near any HVAC unit → safety instructions + notify_emergency + capture contact\n   - No heat with vulnerable occupants (elderly, infants, medical) → emergency routing\n   - Suspected CO (carbon monoxide) → evacuate instruction + notify_emergency\n   - System completely down in extreme heat/cold\n   Protocol: safety first, then notify_emergency tool, then capture contact info.\n\n5. SAVE LEADS using lead_upsert when: booking/estimate intent exists, ZIP + issue + any contact info collected, or emergency detected. Save early — partial data is fine.\n\n6. AFTER-HOURS: use business_hours tool. Non-emergency → set next-day callback expectation. Emergency → route immediately.\n\nIMPORTANT TOOL RULES:\n- When calling KB_Lookup_Tool1, pass ONLY the expected query field. Do NOT include 'id' or any other JSON properties.\n- When calling Call 'hvac_estimate_subworkflow', pass precisely: session_key, zip, and issue_type.\n\nFIELD NAMES (exact): session_key, zip, preferred_time_window, system_down (boolean).\nRESPONSE STYLE: 3-5 sentences max. Empathetic, clear CTA. Never fabricate pricing."
        }
      },
      "id": "b880c241-2d0d-472c-ba1f-4f9b69b547bf",
      "name": "HVAC Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1264,
        -160
      ]
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {
          "maxTokensToSample": 1000,
          "temperature": 0.3
        }
      },
      "id": "51d554ee-290f-4867-8de7-1b7478ec0b9f",
      "name": "Groq LLM1",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1024,
        128
      ],
      "credentials": {
        "groqApi": {
          "id": "7bUk4MlO6NI4ZWgB",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Normalize Input1').item.json.sessionKey }}",
        "contextWindowLength": 10
      },
      "id": "4b783609-d23e-44ed-9bee-5deb088ea09e",
      "name": "Conversation Memory1",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1184,
        128
      ]
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Search the HVAC knowledge base for FAQ answers. Use for: services, pricing ranges, warranties, financing, service area, emergency availability, process questions, and company-specific information. Pass the customer question as the query.",
        "operation": "getAll",
        "tableId": "kb_items",
        "returnAll": true
      },
      "id": "75abe952-0b81-41bf-ae4d-6faa35cfb5a3",
      "name": "KB Lookup Tool1",
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        1344,
        128
      ],
      "credentials": {
        "supabaseApi": {
          "id": "KTJh7KMge2l7hvlh",
          "name": "Supabase AgencyLead"
        }
      }
    },
    {
      "parameters": {
        "description": "Create or update a lead record. Call when: booking/estimate intent detected, ZIP + issue + any contact info collected, or emergency. Pass a JSON object with these fields: session_key (required, chat session identifier), businessName, stage (New/Qualified/Emergency/Estimate Requested/Booked/Follow-Up Needed/Lost), issue_type (repair/replacement/maintenance/new_installation/emergency_no_heat/emergency_no_cooling/gas_smell/co_concern/other), equipment_type (central_ac/heat_pump/furnace/mini_split/boiler/air_handler/thermostat/ductwork/unknown), urgency (emergency/urgent/standard/scheduled), system_down (boolean), name, phone, email, service_address, zip, preferred_time_window (morning/afternoon/evening/weekend/asap), priority (high/medium/low), consent_to_contact (boolean), chat_summary.",
        "jsCode": "const query = $input.item.json.query || $input.item.json.input || '{}';\nlet data;\ntry { data = typeof query === 'string' ? JSON.parse(query) : query; } catch(e) { data = {}; }\n\nconst sessionKey = data.session_key || $('Normalize Input').item.json.sessionKey;\nif (!sessionKey) return { error: 'session_key is required' };\n\nconst body = {\n  p_session_key: sessionKey,\n  p_business_name: data.businessName || data.business_name || null,\n  p_niche: 'HVAC',\n  p_stage: data.stage || 'New',\n  p_lead_type: 'inbound_chat',\n  p_issue_type: data.issue_type || null,\n  p_equipment_type: data.equipment_type || null,\n  p_urgency: data.urgency || null,\n  p_system_down: data.system_down || false,\n  p_name: data.name || null,\n  p_phone: data.phone || null,\n  p_email: data.email || null,\n  p_service_address: data.service_address || null,\n  p_zip: data.zip || null,\n  p_preferred_time_window: data.preferred_time_window || null,\n  p_priority: data.priority || null,\n  p_consent_to_contact: data.consent_to_contact || false,\n  p_chat_summary: data.chat_summary || null,\n  p_place_id: data.placeId || null\n};\n\nconst supabaseUrl = $env.SUPABASE_URL;\nconst supabaseKey = $env.SUPABASE_SERVICE_KEY;\n\nconst resp = await fetch(supabaseUrl + '/rest/v1/rpc/upsert_lead', {\n  method: 'POST',\n  headers: {\n    'Content-Type': 'application/json',\n    'apikey': supabaseKey,\n    'Authorization': 'Bearer ' + supabaseKey,\n    'Prefer': 'return=representation'\n  },\n  body: JSON.stringify(body)\n});\n\nconst result = await resp.json();\nif (!resp.ok) throw new Error('Upsert failed: ' + JSON.stringify(result));\nreturn { success: true, lead: result };"
      },
      "id": "e2ac3a25-cd9a-48aa-892b-4956f97efb1d",
      "name": "Lead Upsert Tool1",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        1504,
        128
      ]
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Log a chat message to conversation history. Call after each user and assistant turn. Fields: session_key, role (user or assistant), content.",
        "tableId": "lead_messages",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "session_key",
              "fieldValue": "={{ $fromAI('session_key', 'Session identifier', 'string') }}"
            },
            {
              "fieldId": "role",
              "fieldValue": "={{ $fromAI('role', 'user or assistant', 'string') }}"
            },
            {
              "fieldId": "content",
              "fieldValue": "={{ $fromAI('content', 'Message text', 'string') }}"
            }
          ]
        }
      },
      "id": "5408987c-f720-495a-b50c-fe9576703861",
      "name": "Log Message Tool1",
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        1664,
        128
      ],
      "credentials": {
        "supabaseApi": {
          "id": "KTJh7KMge2l7hvlh",
          "name": "Supabase AgencyLead"
        }
      }
    },
    {
      "parameters": {
        "description": "Check current business hours (Mon-Fri 8am-6pm, Sat 9am-2pm). Returns: is_business_hours, day_of_week, next_available, message.",
        "jsCode": "\nconst now = new Date();\nconst day = now.getDay(), hour = now.getHours();\nlet open = false, next = 'Monday at 8:00 AM';\nif (day >= 1 && day <= 5) {\n  open = hour >= 8 && hour < 18;\n  next = open ? 'Now' : (hour < 8 ? 'Today at 8:00 AM' : 'Tomorrow at 8:00 AM');\n} else if (day === 6) {\n  open = hour >= 9 && hour < 14;\n  next = open ? 'Now' : 'Monday at 8:00 AM';\n}\nreturn {\n  is_business_hours: open,\n  current_time: now.toISOString(),\n  day_of_week: ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'][day],\n  next_available: next,\n  message: open ? 'Within business hours.' : `After hours. Next available: ${next}. Emergency line available 24/7.`\n};"
      },
      "id": "4b885f88-d23a-46eb-8eb7-c25f9e73d5b7",
      "name": "Business Hours Tool1",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        1824,
        128
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"output\": \"={{ $json.output }}\"}",
        "options": {}
      },
      "id": "c809fae4-ef83-4cf6-8c48-fc45f6c18357",
      "name": "Return Chat Response1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1568,
        -160
      ]
    },
    {
      "parameters": {
        "sendTo": "support@flynerd.tech",
        "subject": "emergency dispatch",
        "message": "emergency dispatch",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        2112,
        96
      ],
      "id": "2caa855c-57d1-46d2-8476-15e201dae2dc",
      "name": "Send a message in Gmail",
      "webhookId": "f34c5d46-ccff-4c60-aaf6-f044642dc666",
      "credentials": {
        "gmailOAuth2": {
          "id": "DUtfdRfgeVkw2SvD",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "description": "Generate estimate tool. ALWAYS pass a JSON object containing session_key, zip, and issue_type.",
        "workflowId": {
          "__rl": true,
          "value": "USaO1HV2RtKzUx39",
          "mode": "list",
          "cachedResultUrl": "/workflow/USaO1HV2RtKzUx39",
          "cachedResultName": "hvac_estimate_subworkflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "name": "session_key",
              "type": "string",
              "description": "The current chat session key"
            },
            {
              "name": "zip",
              "type": "string",
              "description": "The user's ZIP code"
            },
            {
              "name": "issue_type",
              "type": "string",
              "description": "The type of HVAC issue"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1952,
        144
      ],
      "id": "58bb2f31-143f-42a2-b194-b0b8b9469678",
      "name": "Call 'hvac_estimate_subworkflow'"
    }
  ],
  "pinData": {},
  "connections": {
    "Chat Message Received1": {
      "main": [
        [
          {
            "node": "Normalize Input1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input1": {
      "main": [
        [
          {
            "node": "HVAC Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HVAC Agent1": {
      "main": [
        [
          {
            "node": "Return Chat Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq LLM1": {
      "ai_languageModel": [
        [
          {
            "node": "HVAC Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Conversation Memory1": {
      "ai_memory": [
        [
          {
            "node": "HVAC Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "KB Lookup Tool1": {
      "ai_tool": [
        [
          {
            "node": "HVAC Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Lead Upsert Tool1": {
      "ai_tool": [
        [
          {
            "node": "HVAC Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Log Message Tool1": {
      "ai_tool": [
        [
          {
            "node": "HVAC Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Business Hours Tool1": {
      "ai_tool": [
        [
          {
            "node": "HVAC Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "HVAC Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call 'hvac_estimate_subworkflow'": {
      "ai_tool": [
        [
          {
            "node": "HVAC Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "91c85ce0-05d5-4204-82c9-d3b98815a31d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "67fff6fedb2560bb0cc951bbef12209da21d57f116f06769290d3af2f8aff3c2"
  },
  "id": "J2YFMo9j3eyGBlxN",
  "tags": [
    {
      "updatedAt": "2026-03-25T21:40:37.487Z",
      "createdAt": "2026-03-25T21:40:37.487Z",
      "id": "0omPy6JzkYTgd0Hu",
      "name": "flynerd ai agency"
    }
  ]
}