workflows/n8n/niche/logistics.draft.json
{
  "name": "FlyNerd Sub-Workflow: Logistics",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "messages": {
          "messageValues": [
            {
              "role": "system",
              "content": "You are the Logistics Tracking Agent for {{ $json.businessName }} in the Atlanta Hartsfield-Jackson corridor. Every 'Where is my order?' call costs $10. 1. Automate 80% of support inquiries with fleet data integration hints. 2. Provide instant status updates on pending deliveries. 3. Reference the importance of scale during peak seasons."
            },
            {
              "role": "user",
              "content": "Tracking Inquiry: {{ $json.message }}"
            }
          ]
        },
        "options": {}
      },
      "id": "groq",
      "name": "Groq AI Agent",
      "type": "n8n-nodes-base.groq",
      "typeVersion": 1,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "resource": "deal",
        "operation": "update",
        "dealId": "={{ $json.dealId }}",
        "updateFields": {
          "note": "={{ $node[\"Groq AI Agent\"].json[\"choices\"][0][\"message\"][\"content\"] }}"
        }
      },
      "id": "ac-update",
      "name": "Update AC Deal",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        750,
        300
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Groq AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq AI Agent": {
      "main": [
        [
          {
            "node": "Update AC Deal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
