public/n8n-niche-workflows/hvac-workflow.json
{
  "name": "FlyNerd Sub-Workflow: HVAC",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "messages": {
          "messageValues": [
            {
              "role": "system",
              "content": "You are the AI Dispatcher for {{ $json.businessName }} in {{ $json.city }}. A customer just reported an emergency: \"{{ $json.message }}\". Our niche is HVAC/Plumbing in Atlanta - heat and humidity mean EVERY missed call is $10k lost. 1. Acknowledge the urgency (it's 2 AM). 2. Quote based on the emergency service fee: {{ $json.serviceFee }}. 3. Book the technician for the earliest morning slot."
            },
            {
              "role": "user",
              "content": "Customer Message: {{ $json.message }}"
            }
          ]
        },
        "options": {}
      },
      "id": "groq",
      "name": "Groq AI Agent",
      "type": "n8n-nodes-base.groq",
      "typeVersion": 1,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "resource": "deal",
        "operation": "update",
        "dealId": "={{ $json.dealId }}",
        "updateFields": {
          "note": "={{ $node[\"Groq AI Agent\"].json[\"choices\"][0][\"message\"][\"content\"] }}"
        }
      },
      "id": "ac-update",
      "name": "Update AC Deal",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        750,
        300
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Groq AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq AI Agent": {
      "main": [
        [
          {
            "node": "Update AC Deal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
