public/n8n-niche-workflows/medical-workflow.json
{
  "name": "FlyNerd Sub-Workflow: Medical",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "messages": {
          "messageValues": [
            {
              "role": "system",
              "content": "You are the Patient Coordinator for {{ $json.businessName }} in {{ $json.neighborhood }}. We focus on high-end elective procedures. 1. Eliminate the hold time by answering immediately. 2. Offer insurance pre-check instantly. 3. Cross-sell the consultation while they are on high intent."
            },
            {
              "role": "user",
              "content": "Patient Inquiry: {{ $json.message }}"
            }
          ]
        },
        "options": {}
      },
      "id": "groq",
      "name": "Groq AI Agent",
      "type": "n8n-nodes-base.groq",
      "typeVersion": 1,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "resource": "deal",
        "operation": "update",
        "dealId": "={{ $json.dealId }}",
        "updateFields": {
          "note": "={{ $node[\"Groq AI Agent\"].json[\"choices\"][0][\"message\"][\"content\"] }}"
        }
      },
      "id": "ac-update",
      "name": "Update AC Deal",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        750,
        300
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Groq AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq AI Agent": {
      "main": [
        [
          {
            "node": "Update AC Deal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
